# IMDB Movies

Goal: Create a MySQL database that catalogues movies, and analyze what makes a movie successful or not.

## Importing Libraries

In [1]:
import numpy as np
import pandas as pd

In [14]:
#Setting pandas options to max column and row displays
pd.set_option('display.max_columns', None) #Used for displaying columns
pd.set_option('display.max_rows', None) #Used for displaying rows

## Part 1: Creating and Cleaning Pandas Databases

* replace all "\N" values with np.nan
* remove all movies that are not localized in the US
* For Basics:
    * remove movies without a genre
    * only keep movies
    * only use movies from 2000-2022 (inclusive)

In [2]:
# Creating url paths
basics_url = "https://datasets.imdbws.com/title.basics.tsv.gz"
ratings_url = "https://datasets.imdbws.com/title.ratings.tsv.gz"
akas_url = "https://datasets.imdbws.com/title.akas.tsv.gz"

In [3]:
#Reading url paths into databases
basics = pd.read_csv(basics_url, sep='\t', low_memory=False)
ratings = pd.read_csv(ratings_url, sep='\t', low_memory=False)
akas = pd.read_csv(akas_url, sep='\t', low_memory=False)

In [12]:
#Determining where to search for US titles
akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0

In [15]:
#Checking what abbreviation = US
#i.e. is the abbr. US, or USA?
akas["region"].value_counts()

DE      4226415
FR      4222606
JP      4221949
IN      4161606
ES      4143884
IT      4124087
PT      4055877
\N      1884624
US      1424064
GB       444404
CA       221867
XWW      171062
AU       131056
BR       116765
RU        94360
MX        93548
GR        91908
PL        87633
FI        86673
SE        76011
HU        74038
NL        62578
AR        59445
NO        55872
PH        55837
DK        54841
TR        52312
XWG       51511
SUHH      37409
HK        34027
BE        33023
KR        32146
ZA        30569
TW        30439
CN        29650
AT        29582
RO        28230
BG        27699
SG        27645
UA        24511
RS        22587
CZ        20188
IL        19817
ID        18779
AE        16320
IE        16149
XYU       15599
EG        14803
HR        13977
VE        13123
CH        13015
IR        12817
NZ        12725
TH        11829
LT        11522
VN        11206
CL        10203
CSHH       9802
DDDE       9643
SI         9408
CO         8829
NG         8522
SK         8354
PE         8150
UY         7460
EE         7091
EC         7076
XEU        5853
PK         5101
LV         4928
MY         4263
BD         3897
DO         2664
IS         2576
CU         2412
AL         2205
BA         2113
LB         1741
PR         1718
LK         1686
UZ         1653
TN         1484
GE         1468
NP         1341
XAS        1321
MA         1189
LU         1074
CY         1028
DZ          982
AZ          918
MK          865
BY          830
AM          816
KZ          812
CR          809
PA          770
JM          765
SA          736
KP          728
KE          719
CM          717
YUCS        714
BO          708
GH          669
LI          644
SY          561
QA          530
IQ          519
UG          511
MT          454
XKO         437
PY          399
MN          398
JO          374
KW          363
GT          361
KH          357
BF          356
SN          329
TT          317
MD          315
XKV         277
AF          258
PS          255
MM          232
ME          232
SM          209
XSA         208
HT          199
CG          198
SV          194
KG          193
CI          188
MC          174
MZ          173
BH          169
TZ          153
HN          150
ZW          148
CD          143
GI          141
ET          136
BS          135
AO          132
BJ          127
NI          120
MO          120
CSXX        119
VI          104
ZM          101
GP          101
GL           94
MU           94
SL           91
RW           88
TG           84
LA           84
MV           81
YE           81
GA           81
ML           75
SD           75
FO           72
TJ           72
TM           69
BT           64
LY           60
GU           60
NE           59
GM           58
BB           56
MG           54
AD           54
BUMM         53
VDVN         52
BI           52
MW           51
OM           47
MQ           45
KY           44
XPI          43
AN           42
IM           41
GN           40
FJ           39
AW           39
BM           35
BZ           34
LR           33
PF           33
BW           32
SZ           29
SO           27
TD           26
PG           26
SR           25
RE           24
AG           21
GY           21
BN           21
TL           20
GW           19
CV           18
MR           17
DM           17
NC           16
LS           15
LC           14
TO           13
ER           13
VG           12
GQ           11
VA           11
CF           10
MH            9
AQ            9
VU            8
XSI           7
VC            7
SC            6
ST            6
AS            6
GD            6
SB            6
EH            6
ZRCD          6
GF            6
WS            5
KM            5
AI            5
KN            5
CK            4
MP            4
XAU           4
CW            3
MS            3
DJ            3
SH            3
KI            3
TC            3
FM            2
XNA           2
JE            2
CC            1
TV            1
NU            1
PW            1
NR            1
Name: region, dtype: int64

In [25]:
is_in_US = akas["region"] == "US"
akas = akas[is_in_US]
akas.replace({"\\N":np.nan}, inplace = True)

In [27]:
all_db = [basics, ratings]

for db in all_db:
    #Filtering movies that are only in the US based off of akas
    US_filter = db["tconst"].isin(akas["titleId"])
    db = db[US_filter]
    print("hello")
    #Replacing missing values, "\N", with np.nan
    db.replace({'\\N':np.nan}, inplace = True)
    print("world")

hello

/var/folders/z_/c_drbxf10fbfpphcpb2wk3mm0000gn/T/ipykernel_61244/3485247041.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db.replace({'\\N':np.nan}, inplace = True)

world
hello
world